</div> <!-- end page wrapper -->
<footer class="footer middle-flex">
<div class="col-sm-1 text-right">
<div class="tiny-card card-container no-flip">
  <div class="card">
    <figure class="front card-image"></figure>
    <figure class="back"><div class="card-text text-center"><span class="highlight-word">x</span></div></figure>

  </div>
</div>
</div>
<div class="footer-left col-sm-3">
    <h4>Linx</h4>
    <div>Local Melbourne, Australia.</div>
    </div>
    <div class="footer-mid col-sm-4">
        <div class="social-media">
            <a title="Linx Web Solutions - LinkedIn" href="https://www.linkedin.com/in/lincoln-le-67800355" target="_blank"><img alt="Linx Web Solutions LinkedIn" src="../../imgs/in.png"/></a>
        </div>
    </div>
    <div class="footer-right col-sm-3">
    <div class="float-right">
        <h4>Web Solutions</h4>
        <div>Bringing ideas to life</div>
    </div>
    </div>
    <div class="col-sm-1 text-right">
      <img alt="Linx Web Solutions footer logo" class="footer-logo" src="../../imgs/8esc-white2.png" />
    </div>
</div>
</div>
</div>
</footer>
