<header class="header">
  <div class="header-title middle-flex">
    <a ui-sref="home">
      <img alt="Linx Web Solutions logo web developer melbourne" src="../../imgs/8esc-white2.png" class="header-logo"/>
    </a>
    <a class="no-mobile" ui-sref="home">
      <span class="title">Linx Web Solutions</span>
    </a>
  </div>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about">About</a>
        </li>
        <li ui-sref-active="active">
          <a class="no-mobile" ui-sref="portfolio">Portfolio</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="connect">Connect</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="main-content"> <!-- page wrapper -->
