<section class="deal-section">
  <div class="container">
    <div class="row">
      <div class="deal-cards">
        <div class="deck small-card card-container" title="Click to shuffle more cards">
          <a ng-click="$ctrl.handleCards()">
          <div class="card no-flip">
            <figure class="front card-image"></figure>
          </div>
          </a>
        </div>
        <div class="portfolio-card small-card card-container">
          <div class="card no-flip">
          </div>
        </div>
        <div ng-repeat="client in $ctrl.currentHand" title="Click to open client portfolio" class="small-card card-container current-card" index="{{$index}}">
          <div class="card no-flip">
            <a class="portfolio-view-link" ng-click="$ctrl.showClient(client)">
              <figure class="front front-portfolio card-face" ng-class="{'reverse': client.reverse}">
                <div class="card-img-container">
                  <img ng-src="./imgs/portfolio/{{client.logo}}" class="portfolio-card-image" />
                </div>
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="deck-bottom-text">
        <div class="showing"><strong>Cards - {{$ctrl.nextCard}} / {{$ctrl.cards.length}}</strong></div>
        <div class="simple-text">
          Too much? Try this - <a ui-sref="simplePortfolio"><button class="btn btn-primary btn-xs">Simple Portfolio</button></a>
        </div>
      </div>
    </div>
  </div>
</section>