<!-- 
  This page is only available for screens > 768px. 
  For smaller resolutions, go to the simple portfolio 
-->


<div class="portfolio-page">
  <portfolio-deck selected-client="$ctrl.selectedClient"></portfolio-deck>
  <section ng-show="$ctrl.selectedClient" class="website-section" ng-class="{'active': $ctrl.selectedClient}">
    <div class="container">
    <div class="website-left col-md-5 space-bottom">
      <h1 class="text-center">{{$ctrl.selectedClient.name}}</h1>
      <p>{{$ctrl.selectedClient.text}}</p>
      <ul>
        <li ng-repeat="dot in $ctrl.selectedClient.dots">{{dot}}</li>
      </ul>
      <p class="text-center"><a class="website-link" href="http://{{$ctrl.selectedClient.link}}" target="_blank">{{$ctrl.selectedClient.link}}</a></p>
      <p>{{$ctrl.selectedClient.endText}}</p>
    </div>
    <div class="website-right col-md-7">
      <img ng-repeat="screenshot in $ctrl.selectedClient.screenshots" ng-show="$ctrl.selectedClient" ng-src="./imgs/portfolio/screenshots/{{screenshot}}" class="portfolio-screenshot" />
    </div>
    </div>
  </section>
  <section ng-show="!$ctrl.selectedClient" class="default-website-section">
    <div class="container">
      <h1 class="text-center">Client Portfolio</h1>
      <div class="row text-center">
        <p class="big-text">Click on a client card to view more details | Click on the deck to shuffle the client cards</p>
      </div>
    </div>
  </section>
</div>