<!-- 
  Simplified Portfolio
-->
<div class="portfolio-page simple-portfolio-page">
  <div class="container">
    <h1>Portfolio</h1>
    <h5>These are some of the clients I have worked with. Clicking on the card will take you to their website. Enjoy! <span class="float-right"><a ui-sref="portfolio"><button class="no-mobile btn btn-primary btn-xs">Full Deck Portfolio</button></a></span>
        </h5>
  </div>
  <hr/>
  <div class="simple-cards container">
    <div ng-repeat="client in $ctrl.cards" class="small-card card-container simple-card" index="{{$index}}">
      <div class="card no-flip">
        <a data-toggle="tooltip" title="{{client.text}} {{client.dots.join(' | ')}}" href="http://{{client.link}}" target="_blank">
          <figure class="front front-portfolio card-face" ng-class="{'reverse': client.reverse}">
            <div class="card-img-container">
              <img ng-src="./imgs/portfolio/{{client.logo}}" class="portfolio-card-image" />
            </div>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>