<section class="connect-section">
    <div class="container">
      <div class="row middle-flex">
        <div class="col-md-offset-1 col-md-5 space-bottom">
          <h1 class="text-center">Connect with me</h1>
          <div class="big-text">
            Here are some reasons to reach out to me:
          </div><br/>
          <ul>
            <li>You're starting a new business or personal venture and need a website to represent you</li>
            <li>Your current business is in desperate need for a website upgrade</li>
            <li>You want to sell things online</li>
            <li>You're a creative soul with a bright idea and want to bring it to life</li>
            <li>You work for a non-for-profit/charitable organisation which needs technical assistance</li>
            <li>You think I would be a good fit for a current project you're running</li>
            <li>You like what I do and want to reach out! I love networking with like-minded individuals</li>
          </ul><br/>
          <div class="big-text">If any of these apply to you, contact me today and let's begin. With gratitude, thank you.</div>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <div class="contact-card-container">
            <div class="contact-card card-face">
              <div role="form" lang="en-US" dir="ltr">
                <form method="post" novalidate="novalidate">
                  <div>
                    <p>
                      <input ng-model="$ctrl.name" type="text" name="name" value="" maxlength="50" size="35" aria-required="true" aria-invalid="false" placeholder="*Name">
                    </p>
                    <p>
                      <input ng-model="$ctrl.email" type="email" name="email" value="" size="35" maxlength="80" aria-required="true" aria-invalid="false" placeholder="*Email">
                    </p>
                    <p>
                      <textarea ng-model="$ctrl.message" name="message" cols="44" rows="7" aria-invalid="false" placeholder="Introduce yourself and outline your requirements"></textarea>
                    </p>
                    <p class="text-center">
                      <input ng-click="$ctrl.sendMail()" class="btn contact-button" type="submit" value="Connect">
                    </p>
                    <p class="text-center" ng-class="{'text-danger': $ctrl.error, 'text-success': $ctrl.mailSent}">
                    {{$ctrl.mailMsg}}
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>