<div class="about-page">
    <!-- <h1 class="text-right">About</h1> -->
  <section>
    <div class="container">
      <div class="row about-flex">
        <h1 class="text-center mobile-only">About</h1>
        <div class="col-lg-4 space-bottom">
          <about-deck></about-deck>
        </div>
        <div class="col-lg-offset-1 col-lg-6">
          <p>Armed with a <span class="highlight-word">Software Engineering degree</span>, I entered the workforce in 2009 with little direction. I've worked at the <i>Department of Defence</i>, <i>Department of Human Services</i>, and the <i>Bureau of Meteorology</i>. 6 years later, I took the leap and started my own web development business, freelance and contractor.
          </p>
          <p><span class="highlight-word"> Why did I do this? </span> I was largely unfulfilled with my daily contribution and impact, and wanted to do more meaningful work. <span class="highlight-word">My mission</span> is to find meaning in my work and to promote positivity, human connection and compassion. Perhaps this is best explained with a quote:
          </p> 
          <h4 class="quote">“Where your talents and the needs of the world cross; there lies your vocation” - <strong>Aristotle</strong></h4>
          <p>Some of my current interests include dance, climbing, yoga, woodwork, travelling, hiking, community work, health, fitness and philosophy.</p>
          <p>Send me a message if you'd like to connect</p>
          <p class="text-center"><a ui-sref="connect"><button class="btn btn-primary">Email Me</button></a></p>
        </div>
      </div>
      </div>
    </section>
    <section class="services-section">
    <div class="container">
      <div class="row">
        <div class="">
          <h3>Some of the services I provide are:</h3><br/>
          <ul class="">
            <li>Create <strong>Content Management websites</strong> (like WordPress) - great for your business's online presence and managing your content</li>
            <li>Create <strong>full stack web applications</strong> - bringing to life business ideas or initiatives</li>
            <li>Create <strong>online web stores</strong> - so you can sell and manage your products online</li>
            <li>Update <strong>existing websites</strong> - Improving, optimising or a complete recreation!</li>
            <li>Create custom <strong>animation effects</strong> including page loaders, hover and click effects</li>
            <li>Some other services I provide include <strong>SEO work, server maintanence, website/domain migration</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>