<div uib-carousel interval="$ctrl.interval" active="active" class="carousel carousel-fade">
  <div uib-slide index="$ctrl.images.indexOf(image)" ng-repeat="image in $ctrl.images" active="slide.active">
    <div class="about-image-card card-face" data-toggle="tooltip" data-placement="top">
      <div class="image-box">
        <img alt="linx profile about web solutions 8esc" class="about-image" ng-src="./imgs/about/{{image}}"/>
      </div>
    </div>
  </div >
</div>
