<div class="home-page">
  <section class="mystery-section middle-flex">
    <div class="container">
    <div class="row">
    <h1 class="intro-title text-center">Linx &#8226; Web Developer &#8226; Melbourne</h1>
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="intro-card card-container">
          <div class="card" ng-class="{'flip-card': $ctrl.flipIntroCard}">
            <figure class="front card-image"></figure>
            <figure class="back card-face">
              <div class="text-center">
                <img src="../../imgs/8esc-loader.gif" class="intro-img" />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="intro-section middle-flex">
  <div class="bg-overlay"></div>
    <div class="container">
      <div class="row middle-flex">
        <div class="col-md-offset-3 col-md-6 space-bottom">
          <div class="big-text">
            <h2 class="text-center">Welcome</h2>
            <div>My name is <span class="highlight-word">Linx</span>, a Melbourne-based freelance frontend/web developer.</div><br/>
            <div>I enjoy creating bespoke websites for businesses, full-stack ideas creation, e-commerce solutions, not-for-profit/charitable initiatives and more!</div><br/>
            <div class="text-center">
              <span class="highlight-word">Ready to talk?</span>
              <a ui-sref="connect"><button class="btn btn-primary btn-left">Email me</button></a>
            </div><br/>
          </div>
        </div>
        <!-- <div class="col-md-offset-1 col-md-5 text-center">
          <div class="tiny-text "><strong>HOW TO</strong>: Whenever you see a card, try hover over or click on it:</div>
          <br/>
          <div class="small-card card-container">
            <div class="card">
              <figure class="front card-image"></figure>
              <figure class="back card-face">
              <div class="card-text text-center tiny-text">
                Well done!
              </div>
              </figure>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <section class="logos-section">
    <h1 class="text-center">I've worked with:</h1>
    <div class="container">
      <div class="portfolio-images">
        <div ng-repeat="row in $ctrl.clientListRows">
          <div class="row row-images" ng-class="row.classes">
            <span ng-repeat="logo in row.logos">
              <a target="_blank" href="{{logo.link}}">
                <img ng-src=".{{logo.src}}" alt="{{logo.name}}" class="{{logo.class}}" />
              </a>
            </span>
          </div>
      </div>
    </div>
  </section>
  <section class="portfolio-section middle-flex">
  <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
        <h1>Not convinced?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-8 portfolio-text">
          <div class="col-sm-8 text-right">
            <h3 class="">Check out my interactive portfolio</h3>
          </div>
          <div class="col-sm-4 text-center no-mobile">
            <a ui-sref="portfolio"><button class="btn btn-lg btn-primary">Deck Portfolio</button></a>
          </div>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-offset-3 col-sm-8 portfolio-text">
          <div class="col-sm-8 text-right no-mobile">
            <h5 class="">Or my plain and simple portfolio</h5>
          </div>
          <div class="col-sm-4 text-center">
            <a ui-sref="simplePortfolio"><button class="btn-sm btn btn-default">Simple Portfolio</button></a>
          </div>
          </div>
        </div>
      </div>
  </section>
  <section class="about-section">
    <div class="container">
      <h1 class="text-center">Philosophy</h1>
      <h5 class="text-center">My reasons and ambitions</h5>
      <div class="row text-center">
        <div class="text-center no-mobile">
          <button class="btn btn-primary" ng-click="$ctrl.ethosFlipAll()">Flip All</button>
        </div><br/>
        <div ng-repeat="card in $ctrl.ethosCards" class="standard-card card-container">
          <div class="card" ng-class="{'flip-card': $ctrl.flipAll}">
            <figure class="front card-image">
              <div class="overlay">
              <div class="front-title">
                {{card.cardTitle}}
              </div>
              </div>
            </figure>
            <figure class="back card-face">
              <div class="card-text">
                <h4 class="back-title">{{card.cardTitle}}</h4>
                <div class="text-center" ng-bind-html="card.cardDescription"></div>
            </div>
            </figure>
          </div>
        </div>
      </div>
      <br/>
      <p class="text-center">
        <a ui-sref="about">
          <button class="btn btn-primary btn-sm">More About Linx</button>
        </a>
      </p>
    </div>
  </section>
  <connect-form></connect-form>
</div>