/* PAGE LOADER */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.loader-div-img {
  background: url('images/8esc-white2.png') center no-repeat;
  background-size: 65px;
  -webkit-animation:spin 1.8s linear infinite;
  -moz-animation:spin 1.8s linear infinite;
  animation:spin 1.8s linear infinite;
  -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
  animation-delay: 0.2s;
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 100px;
  margin-left: -30px;
  margin-top: -50px;
}
.loader-div {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background-color: #000;
  
}

/* End Page Loader */
#site-header a img:hover {
  -webkit-animation:logo-spin 5s ease-in-out infinite;
  -moz-animation:logo-spin 5s ease-in-out infinite;
  animation:logo-spin 5s ease-in-out infinite;
}


/* Animations */
