.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
  transition: transform 0.8s ease-in-out;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  border: 2px solid #000;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;

  .front {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .overlay {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 8px;
    }
    .front-title {
      text-align: center;
      width: 100%;
      color: #FFF;
      text-shadow: 1px 1px 1px #000;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 25px;
      padding: 0 10px;

      &:after {
        content: ' ';
        width: 40px;
        margin: 6px auto;
        border-bottom: 2px solid #FFF;
        display: block;
      }
    }
  }

  .back {
    border-radius: 8px;
    transform: rotateY( 180deg );
   -ms-transform: rotateY( 180deg ); /* IE 9 */
    -webkit-transform: rotateY( 180deg ); /* Chrome, Safari, Opera */
    padding-left: 12px;
    padding-right: 12px;
    background: #FFF;
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .back-title {
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px;

      &:after {
        content: ' ';
        width: 40px;
        margin: 6px auto;
        border-bottom: 2px solid #182B3A;
        display: block;
      }
    }
    .card-text {
      width: 100%;
      color: $blue;
      font-size: 14px;
    }
  }
  figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}

/* the template for the card holder */
.card-container { 
  position: relative;
  perspective: 800px;
  display: inline-block;
}

/* Each individual card size */
.intro-card {
  width: 225px;
  height: 312px;
}

.standard-card {
  width: 180px;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.medium-card {
  width: 145px;
  height: 200px;
}

.small-card {
  width: 125px;
  height: 173px;
}

.tiny-card {
  width: 45px;
  height: 62px;

  .back {
    border-radius: 4px;
  }
}


.card-image {
  background-image: url('../imgs/linx-card-back.png');
  background-size: cover;
}


/* Can trigger using class */
.flip-card {
  transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg ); /* IE 9 */
  -webkit-transform: rotateY( 180deg ); /* Chrome, Safari, Opera */
}

.no-flip {
  transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
}

.card-container:hover .card {
  transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg ); /* IE 9 */
  -webkit-transform: rotateY( 180deg ); /* Chrome, Safari, Opera */
}

.tiny-card-top-corner, .tiny-card-bottom-corner {
  width: 12px;
  height: auto;
  position: absolute;
}

.card-top-corner, .card-bottom-corner {
  width: 20px;
  height: auto;
  position: absolute;
}

.card-top-corner {
  left: 7px;
  top: 5px;
}

.card-bottom-corner {
  right: 9px;
  bottom: 6px;
}

.card-face {
  &:before {
    width: 20px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 5px;
    content: ' ';
    display: block;
    background-image: url("../imgs/8esc-black.png");
    background-size: cover;
  }

  &.reverse:before {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  &:after {
    right: 9px;
    bottom: 6px;
    width: 20px;
    height: 30px;
    position: absolute;
    content: ' ';
    display: block;
    background-image: url("../imgs/8esc-black.png");
    background-size: cover;
  }

  &.reverse:after {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}


/* Portfolio shuffle deck */
.deck {
  position: absolute;
  left: 0;
  z-index: 9999;

  .card {
    transition: 0.3s all ease;
  }

  &:hover .card {
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px $blue;
  }
}

.portfolio-card {
  position: absolute;
  left: 0;
  z-index: 999;
  margin-left: 3px;
  margin-top: 2px;
}

.simple-card {
  position: relative;
  // margin-right: 15px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
  .front-portfolio {
    background: #f5f5f5;
    border-radius: 7px;
    transition: all 0.3s ease;

    &.reverse {
      background: #000;
    }

    &:hover {
      box-shadow: 0px 0px 3px 3px $teal;
    }
  }

}

.current-card {
  // transition: all 1.5s ease;
  position: absolute;
  left: 0;
  margin-right: 25px;
  .front-portfolio {
    background: #f5f5f5;
    border-radius: 7px;
    transition: all 0.3s ease;

    &.reverse {
      background: #000;
    }

    &:hover {
      box-shadow: 0px 0px 3px 3px $teal;
    }
  }
}

.card-spin {
  -webkit-animation:card-spin 0.5s linear;
  -moz-animation:card-spin 0.5s linear;
  animation:card-spin 0.5s linear;

  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;

  animation-count: 1;
  -webkit-animation-count: 1;
  -moz-animation-count: 1;
}

.card-tilt {
  -webkit-animation:card-tilt 0.3s linear;
  -moz-animation:card-tilt 0.3s linear;
  animation:card-tilt 0.3s linear;

  animation-count: 1;
  -webkit-animation-count: 1;
  -moz-animation-count: 1;
}

@-moz-keyframes card-spin { 
  0% {
    -moz-transform: rotate(0deg) rotateY(45deg); }
  60% {
    -moz-transform: rotate(360deg) rotateY(45deg); }
  100% {
    -moz-transform: rotate(720deg) rotateY(0deg); } 
  }

@-webkit-keyframes card-spin { 
  0% { -webkit-transform: rotate(0deg) rotateY(45deg); }
  20% { -webkit-transform: rotate(360deg) rotateY(45deg); }
  100% { -webkit-transform: rotate(720deg) rotateY(0deg) }

}
@keyframes card-spin { 
  0% { -webkit-transform: rotate(0deg) rotateY(45deg); transform:rotate(0deg) rotateY(45deg); } 
  20% { -webkit-transform: rotate(360deg) rotateY(45deg); transform:rotate(360deg) rotateY(45deg); } 
  100% { -webkit-transform: rotate(720deg) rotateY(0deg); transform:rotate(720deg) rotateY(0deg); } 
}

@-moz-keyframes card-tilt { 
  0% {
    -moz-transform: rotateY(45deg); }
  100% {
    -moz-transform: rotateY(0deg); } 
  }

@-webkit-keyframes card-tilt { 
  0% { -webkit-transform: rotateY(45deg); }
  100% { -webkit-transform: rotateY(0deg) }

}
@keyframes card-tilt { 
  0% { -webkit-transform: rotateY(45deg); transform: rotateY(45deg); } 
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } 
}