
.about-page {
  min-height: 80vh;
  margin-top: 20px;
  h1 {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .services-section {
    background: $blue;
    color: #fff;
  }

  .about-flex {
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }

  .about-image-card {
    padding: 45px 25px 40px;
    border: 2px solid #000;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    position: relative;
    text-align: center;
    height: 390px;
    width: 320px;
    margin: 0 auto;
    max-width: 100%;
    
    .image-box {
    }

    .about-image {
      position: relative;
      max-width: 100%;
      max-height: 300px;
      height: auto;
      border-radius: 4px;
    }
  }
}


/* Carousel */
.carousel-indicators li {
  display: none;
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    .carousel-control {
        display: none;
    }
}