@import 'colours';

.home-page {

  section {
    h1 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .mystery-section {
    color: #FFF;
    min-height: 500px;
    height: 90vh;
    background: #1f1e1e;
    h1 {
      margin-bottom: 50px;
    }
  }

  .intro-section {
    background: url('../imgs/bg3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    color: #FFF;
    min-height: 600px;
    height: 90vh;

    .bg-overlay {
      // background: rgba(0, 0, 0, 0.3)
    }
      h1 {
        margin-bottom: 60px;
      }
     // background-color: $teal;
     margin-top: 0;
     // color: #FFF;
     .intro-title {
      color: $blue;
     }
     h2 {
      margin-top: 0;
      margin-bottom: 10px;
     }
  }

  .intro-img {
    width: 100%;
    padding: 10px;
    height: auto;
  }

  .logos-section {
    background-color: $grey;
    // background-color: #f1f1f1;
    color: #333;
    padding-bottom: 30px;

    .row-images {
      margin-bottom: 20px;
    }
    h1 {
      margin-bottom: 15px;
    }
    .portfolio-images {
      text-align: center;
      padding-top: 20px;
      border-radius: 12px;
      padding-bottom: 5px;
      img {
        width: 200px;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
        // box-shadow: 0 0 5px 2px #DDD;
        padding: 10px;
      }

      .circles {
        img {
          width: 150px;
          // border-radius: 50%;
        }
      }
    }
  }


  .portfolio-section {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background: url('../imgs/bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    color: #FFF;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 500px;
    height: 75vh;
    h1 {
      margin-bottom: 10px;
    }

    .portfolio-text {
      button {
        margin-top: 10px;
      }
    }
  }

  .about-section {
    h1 {
      margin-bottom: 10px;
    }
    h5 {
      margin-bottom: 10px;
    }
  }

  .connect-section {
    background-color: $blue;
    color: #FFF;

    .connect-image {
      display: none;
    }
  }

}

.connect-section {
  background-color: #FFF;
  color: #333;
  .connect-image {
    text-align: center;
    margin-top: 50px;
    img {
      width: 100%;
      max-width: 500px;
      height: auto;
      border-radius: 8px;
    }
  }
}



.connect-section {
  padding: 90px 0;  
  h1 {
    margin-bottom: 40px;
  }

  .contact-card-container {
    width: 350px;
    max-width: 100%;
  }

  .contact-card {
    border: 2px solid #000;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    width: 100%;
    padding: 70px 30px 50px;
    background: #FFF;
    position: relative;
    height: auto;
    color: $darkblue;

    .contact-button {
      color: #FFF;
      padding: 5px 20px;
      border-radius: 4px;
      border: 2px solid $teal;
      background: $teal;
    }
  }
}