/* All CORE CSS goes here */
@import 'colours';
@import 'card';
@import 'home';
@import 'about';
@import 'portfolio';

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
}

a {
  color: white;

  &:hover {
    color: $teal;
    text-decoration: none;

  }
}

.main-content {
  margin-top: 70px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.footer {
  padding: 20px 10px;
  font-size: 12px;
  background-color: $darkblue;
  color: #FFF;
  display: block;
  float: left;
  width: 100%;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 2px;
  }
  .footer-logo {
    height: 60px;
    width: auto;
  }
}

.footer-mid {
  text-align: center;
  .social-media {
    img {
      width: 35px;
      height: auto;
      background-color: #FFF;
      border-radius: 50%;
    }
  }
}

.main-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999999;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: $darkblue;
  padding: 5px 20px;
  .header-logo {
    height: 60px;
    width: auto;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    &:hover {
      box-shadow: 0px 0px 3px 2px #fff;
      border-radius: 8px;
    }
  }
}
.header-title {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  .title {
    font-weight: bold;
    color: #FFF;
    font-size: 26px;
    letter-spacing: 1px;
    margin-left: 20px;
  }
}

.bg-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

input, textarea {
  max-width: 100%;
  padding: 5px;
}

.btn-left {
  margin-left: 15px;
}

.btn.btn-primary {
  background-color: $teal;
  border: 2px solid $teal;

  &:hover {
    // background-color: $darkblue;
    opacity: 0.8;
  }
}

.btn {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-blue {
  background: $blue;
  color: #FFF;
  border: 2px solid $blue;

  &:hover {
    background: $teal;
    color: #FFF;
  }
}


/* Navbar CSS */

.navbar {
  min-height: initial;
  margin-bottom: 0;

  li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

/* Menu font colour */
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

/* Menu hover font colour */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: $teal;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: $teal;
}

.navbar-collapse.collapse {
  display: block!important;
  box-shadow: none;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

/* End navbar CSS */

@media (min-width: 768px) {
  .middle-flex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
}

.highlight-word {
  font-size: 22px;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 2px;
}

.big-text {
  font-size: 20px;
}

.tiny-text {
  font-size: 13px;
}

section {
  padding: 60px 0;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

h2 {
  // margin-top: 0px;
  margin-bottom: 40px;
}

h4 {
  margin-bottom: 15px;
  margin-top: 15px;
}

h5 {
  font-size: 16px;
}

.quote {
  border-left: 3px solid $darkblue;
  padding-left: 25px;
}

.invert {
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
}

/* Animations */

/* FADES */

.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-hide {
  opacity: 0;
}
.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

@import 'media';

