.mobile-only {
  display: none;
}


@media (max-width: 1024px) {
  .about-page .about-flex {
    display: block;
    align-items: center;
  }

  .space-bottom {
    margin-bottom: 30px;
  }
  .portfolio-page {
    .website-section {
      &.active {
        height: auto;
        overflow: auto;
      }
      .website-right {
        height: auto;
        padding-left: 0;
        padding-right: 0;
      }      
    }
  } 
}

@media (max-width: 768px) {
  .portfolio-page .deal-section .deal-cards {
    min-width: inherit;
  }
  .header-title .title {
    font-size: 20px;
  }
  .nav > li {
    display: inline-block;
    a {
      font-size: 15px;
      padding: 5px 10px;
    }
  }

  .contact-card-container {
    margin: 0 auto;
  }

  .portfolio-section {
    .container {
      width: 100%;
    }
  }

  .home-page .intro-section {
    text-align: center;
    height: auto;
    min-height: auto;
  }
  .navbar-header {
    display: none;
  }

}

@media (max-width: 468px) {
  .navbar-default {
    margin-right: 10px;
  }
  .header {
    padding: 5px;
  }
  .home-page .mystery-section {
    height: auto;
  }

  .home-page .intro-section {
    background-position: center center;
  }
  .home-page .logos-section .portfolio-images img {
    width: 45%;
  }

  .home-page .logos-section .portfolio-images .circles img {
    width: 40%;
  }
  .home-page .portfolio-section {
    min-height: auto;
  }
  .navbar li > a {
    font-size: 12px;
    padding: 5px;
  }
  .navbar-nav > li, .navbar-nav {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .simple-portfolio-page {
    h1, .simple-cards {
      text-align: center;
    }
  }

  .connect-section {
    padding: 20px 0;
  }

  .connect-section .contact-card {
    width: 100%;
  }
  .footer {
    text-align: center;

    .text-right {
      text-align: center;
    }
    .float-right {
      float: none;
    }
    .footer-left, .footer-mid, .footer-right {
      margin-top: 10px;
    }
  }
  .services-section {
    h3 {
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
    }
  }
  .about-page section {
    padding: 0;
  }

  .mobile-only {
    display: block;
  }
}

.no-mobile {
  display: none;
}

@media (min-device-width: 600px) {
  .no-mobile {
    display: inherit;
  }
}

@media (min-width: 1450px) {
  .container {
    width: 1400px;
  }
}