.portfolio-page {
  min-height: 75vh;
  .portfolio-card-image {
    width: 100%;
    height: auto;
    padding: 0 15px;
  }
  .deal-section {
    background: #f5f5f5;
    padding: 10px 0;
    border-bottom: 2px solid $darkblue;
    font-size: 12px;
    padding-top: 40px;

    .deck-top-text {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .deal-cards {
      position: relative;
      height: 175px;
      width: 90%;
      margin: 0 5%;
      min-width: 900px;
      .portfolio-view-link {
        color: #182b3a;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .deck-bottom-text {
      margin: 20px 5% 15px;
    }
    .showing {
      display: inline-block;
      position: relative;
      top: 4px;
    }
    .simple-text {
      float: right;
    }
  }

  .default-website-section {
    padding-top: 30px;
  }
  .website-section {
    height: 55vh;
    overflow: hidden;
    &.active {
      height: 80vh;
      min-height: 500px;
    }
    .website-left {
      font-size: 16px;
      a {
        color: $teal;
      }
      padding-right: 50px;
    }
    .website-right {
      float: right;
      overflow: auto;
      height: 68vh;
      max-height: 530px;
      padding-left: 50px;
    }
    .portfolio-screenshot {
      width: 100%;
      height: auto;
      box-shadow: 0 0 10px 4px #7e7e7e;
      margin-bottom: 20px;
    }
  }
}

.simple-portfolio-page {
  .simple-cards {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}